.env
task_list.md

raw_data/

llama-cache/

embedding_models/

data_generate/
data/

llm_service/llama-cache/
llm_service/models/

test_simple_client/

vector_store/qdrant_snapshots/
vector_store/qdrant_storage

logs/